@import "../../styles/colors.scss";

.customDropdown {
  position: relative;
  width: 100%;

  .dropdownSelected {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    box-shadow: $shadow;
    display: flex;
    align-items: center;
    background-color: #ffffff;

    cursor: pointer;
    user-select: none;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
      box-shadow: $shadow;
    }

    img {
      margin-right: 10px;
    }
  }

  .dropdownList {
    position: absolute;
    width: 100%;
    border-radius: 5px;
    box-shadow: $shadow;
    background-color: #ffffff;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    margin-top: 5px;

    .dropdownItem {
      padding: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.2s;

      img {
        margin-right: 10px;
      }
    }
  }

  .dropdownIcon {
    color: $primary-color;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 10px;

    i {
      border: solid $primary-color;
      border-width: 0 3px 3px 0;
      padding: 5px;
      transform: rotate(45deg);
    }
  }
}
